html, body{
    direction: rtl;
    text-align: right;
}
a{
  text-decoration:none;
}

.dropdown-menu .dropdown-item{
    text-align: right;
}
/* start post content */
.post{
  border: 1px solid #ccc;
}
/* end post */
.comment{
  border: 1px dashed #ccc;
  background-color: #f8f8f8;
}
